body {
    background-color: lightseagreen;
}

.app-title {
    text-align: center;
}

.joke-container {
    border: 2px solid black;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 1px;
}

.joke-container-title {
    text-align: center;
}